main {
    max-width: 1440px;
    max-height: 900px;
}

.grid-container {
    width: 1400px;
    height: 800px;
    display: grid;
    grid-template-rows: repeat(6, 1fr) 2.5fr 2.5fr; /* felt like an excessive amount of rows, but couldn't figure it out otherwise */
    grid-template-columns: 2fr repeat(4,1fr);
    grid-gap: 24px;
    background-color: #E5E5E5;
    padding: 24px;
}

.one {
    background-color: #1d6654;
    grid-row: 1 / span 3;
    grid-column: 1 / 2;
}
.two {
    background-color: #2B9348;
    grid-row: 4 / span 3;
    grid-column: 1 / 2;
}
.three {
    background-color: #55A630;
    grid-row: 7 / 9;
    grid-column: 1 / 2;
}
.four {
    background-color: #80B918;
    grid-row: 1 / span 6;
    grid-column: 2 / 4;
}
.five {
    background-color: #AACC00;
    grid-row: 8 / 8;
    grid-column: 2 / 2;
}
.six {
    background-color: #BFD200;
    grid-row: 7 / 7;
    grid-column: 2 / 2;
}
.seven {
    background-color: #DDDF00;
    grid-row: 1 /span 2;
    grid-column: 4 / 6;
}
.eight {
    background-color: #EEEF20;
    grid-row: 3 / span 2;
    grid-column: 4 / 6;
}
.nine {
    background-color: #FFFF3F;
    grid-row: 5 / span 2;
    grid-column: 4 / 6;
}
.ten {
    background-color: #D4D700;
    grid-row: 7 / 9;
    grid-column: 3 / 5;
}
.eleven {
    background-color: #007F5F;
    grid-row: 7 / 9;
    grid-column: 5 / 5;
}

.title {
    background-color: #9BC1BC;
    max-width: 1400px;
    padding: 50px;
    margin-top: 0px;
    font-size: 64px;
    font-weight: bold;
    text-transform:uppercase;
    font-family: Helvetica, sans-serif;
}